.slickSlideItem {
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.imageStyle {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@media (min-width: 1200px) {
    .galleryWrapper {
        :global(.slick-slider) {
            margin: 0;
        }

        :global(.slick-list) {
            padding-bottom: 0px !important;
            padding-top: 40px !important;
        }

        :global(.slick-slide) {
            transform: scale(0.9);
            opacity: 0.7;
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }

        :global(.slick-center) {
            transform: scale(1.4);
            opacity: 1;
            z-index: 10;
        }

        :global(.slick-dots) {
            bottom: -30px;
        }

        :global(.slick-dots li button:before) {
            color: #fff !important;
            font-size: 10px !important;
        }

        :global(.slick-dots li.slick-active button:before) {
            color: #007bff !important;
        }

        :global(.slick-prev:before),
        :global(.slick-next:before) {
            color: #fff !important;
            font-size: 30px !important;
        }

        :global(.slick-prev),
        :global(.slick-next) {
            width: 2rem;
            height: 2rem;
            z-index: 20;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
        }


        :global(.slick-next:before) {
            width: 2rem;
            height: 2rem;
            z-index: 20;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
        }

        :global(.slick-prev) {
            left: 22px;
            top: 160px;
            z-index: 99;
        }

        :global(.slick-next) {
            right: 55px;
            top: 160px;
        }

        :global(.slick-prev:before),
        :global(.slick-next:before) {
            font-size: 50px !important;
            color: #4a4a4a;
        }

        :global(.slick-dots li button::before) {
            color: black !important;
        }

    }
}